<html>

<body>
<p>Select an entity and enter its id to start ...</p>

<form method="GET">
<p>
    <select name="entity">
        <option value="project">project</option>
        <option value="person">person</option>
        <option value="org">organisation</option>
        <!-- <option value="fund">funding</option> -->
        <option value="output">output</option>
    </select>
    <input type="text" name="id" size=50>
    <input type="submit" name="submit" value="Go!">
</p>
</form>

</body>

</html>
